<tr id="tax_entry-<%= tax_entry.id %>">
  <td class="tax_entry_year center">
    <a href="javascript:tax_entry_info(<%= tax_entry.id %>);"><%= tax_entry.district_type.description %></a> 
  </td>
  <td class="tax_entry_collection_district center"><%= tax_entry.collection_district.name %></td>
  <td class="tax_entry_account_number center"><%= tax_entry.account_number %></td>
  <td class="tax_entry_year center"><%= tax_entry.year %></td>
  <td class="tax_entry_base_tax center">$<%= tax_entry.base_tax %></td>
  <td class="tax_entry_tax_status center">$<%= tax_entry.tax_status.description %></td>
</tr>