<tr id="maintenance_fund-<%= maintenance_fund.id %>">
  <td class="maintenance_fund_name"><%= link_to maintenance_fund.name , maintenance_fund_path(maintenance_fund) %></td>
  <td class="maintenance_fund_collector"><%= maintenance_fund.collector %></td>
  <td class="maintenance_fund_street"><%= maintenance_fund.street %></td>
  <td class="maintenance_fund_city center"><%= maintenance_fund.city %></td>
  <td class="maintenance_fund_state center"><%= maintenance_fund.state %></td>
  <td class="maintenance_fund_zip center"><%= maintenance_fund.zip %></td>
  <td class="maintenance_fund_contact center">
    <a href="javascript:maintenance_fund_contact_info('<%= maintenance_fund.name %>', '<%= maintenance_fund.contact %>', '<%= maintenance_fund.phone %>');">Contact Information</a>
    <input type="hidden" class="maintenance_fund_contact_name" value="<%= maintenance_fund.contact %>" />
    <input type="hidden" class="maintenance_fund_contact_phone" value="<%= maintenance_fund.phone %>" />
  </td>
  <% unless @printing %>
    <td class="maintenance_fund_controls"><%= link_to "Delete", maintenance_fund, method: :delete, data: { confirm: "Are you sure you want to delete this HOA?" }, class: "button delete" %></td>
  <% end %>
</tr>