<div class="ui-corner-all sign_in">
  <h2 class="ui-widget-header ui-corner-top">Update Password</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <%= form_for(@user, :url => update_password_user_path, :html => { :id => "edit_user_password", :class => 'align' }) do |f| %>
      <fieldset class="align">
        <%= f.label :current_password, :class => 'align' %>: <%= f.password_field :current_password, :class => 'align' %><br />
        <%= f.label :password, "New password", :class => 'align' %>: <%= f.password_field :password, :class => 'align' %><br />
        <%= f.label :password_confirmation, "Confirm new password", :class => 'align' %>: <%= f.password_field :password_confirmation, :class => 'align' %><br />
      </fieldset>
      <fieldset class="align form_controls">
        <%= f.submit "Change Password", :class => 'sign_in_button' %><br />
      </fieldset>
    <% end %>
  </div>
</div>

<% content_for :head do %>
<script type="text/javascript">
  $(function() {    
    // Set up custom rule for password matching
    $('#edit_user_password').validate({
      rules: {
        "user[current_password]": {
          required: true
        },
        "user[password]": {
          required: true,
          minlength: 6
        },
        "user[password_confirmation]": {
          required: true,
          minlength: 6,
          equalTo: "#user_password"
        }
      }
    });
  });
</script>
<% end %>