<% unless @printing %>
  <nav>
    <ul id="navigation_menu" class="sf-menu sf-vertical">
      <% if logged_in? %> 
        <li><%= link_to "Maintenance Orders", maintenance_orders_path %></li>
        <li><%= link_to "Tax Certificates", tax_certificates_path %></li>
        <li><%= link_to "HOAs", maintenance_funds_path %></li>
        <li><%= link_to "Assureds", assureds_path %></li>

        <% if current_user.admin? %>
          <li><%= link_to "Administration", '#' %>
            <ul>
              <li><%= link_to "Fee Collection Types", fee_collection_types_path %></li>
              <li><%= link_to "Add User", new_user_path %></li>
              <li><%= link_to "List Users", users_path %></li>
            </ul>
          </li>
        <% end %>
          
        <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
        <li><%= link_to("Sign Out", logout_path, :method => 'delete') %></li>
      <% else %>
        <li><%= link_to('Sign In', login_path) %></li>
      <% end %>
    </ul>
  </nav>
<% end %>