<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    
    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>

    <div id="page">  
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <div id="content">
        <%= yield %>
      </div> <!-- #content -->
    </div> <!-- #page -->
    
    <%= render 'layouts/footer' %>
  
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
